body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    margin: 25px;
}
a{
    background-color: bisque;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 25px;
    text-decoration: none;
}

main{
    /* border: 1px solid red; */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.cor_01{
    background-color: rgb(245, 243, 243);
    color: black;
}

.cor_02{
    background-color: black;
    color: white;
}