body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.layout_01{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;    
}
.cor_01{
    background-color: azure;
    color: black;
}

.cor_02{
    background-color: black;
    color: azure;
}
div{
    padding: 25px 25px;
}
a{
    margin: 55px 0;
    padding: 5px 15px;
    border-radius: 8px;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
}